* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: #3E3E3E;
    background-color: #EFF8FD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

main {
    font-size: 20px;
}

.project_name {
    margin: 0;
    text-align: center;
}

.task {
    margin-top: 30px;
    text-indent: 20px;
}

.targets {
    margin-top: 15px;
}

.targets ul,
.team ul,
.duties ol {
    margin-top: 5px;
    margin-bottom: 15px;
}

.targets ul li {
    font-size: 18px;
}

.group {
    font-size: 18px;
    margin-top: 5px;
}

.members li {
    list-style-type: square;
}

.member {
    border: 2px solid rgb(143, 191, 218);
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.member:not(:first-child) {
    margin-top: 10px;
}

.duties .headtext {
    text-decoration: underline;
}

.work {
    margin-top: 15px;
    text-align: justify;
}

.work h3 {
    margin-bottom: 10px;
}
.work p{
    text-indent: 20px;
}

.work .img {
    text-align: center;
    margin-top: 5px;
}

.links h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.work a,
.links a {
    text-decoration: none;
    transition: all 0.3s;
    color: rgb(27, 27, 167);
}

.work a:visited,
.links a:visited {
    text-decoration: none;
}

.work a:hover,
.links a:hover {
    color: rgb(91, 142, 209);
    text-decoration: underline;
}